In [1]:
# Modeul 4 Background
# The school board has notified Maria and her supervisor that the students_complete.csv file shows evidence of academic dishonesty; specifically, reading and math grades for Thomas High School ninth graders appear to have been altered. 
# Although the school board does not know the full extent of the academic dishonesty, 
# they want to uphold state-testing standards and have turned to Maria for help. 
# She has asked you to replace the math and reading scores for Thomas High School with NaNs while keeping the rest of the data intact. 
# Once you’ve replaced the math and reading scores, Maria would like you to repeat the school district analysis that you did in this module and write up a report to describe how these changes affected the overall analysis.

In [2]:
# Moduel 4 Challenge
# Dependencies and Setup
import pandas as pd

In [3]:
import pandas as pd
# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
# Read the School Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# File to Load (Remember to change the path if needed.)
student_data_to_load = "Resources/test.csv"
# Read the Student Data and store into a Pandas DataFrame
student_data_df = pd.read_csv(student_data_to_load)
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,24236,Aaron Johnson,M,10th,Wright High School,89,72
1,24237,Kimberly Hamilton,F,10th,Wright High School,84,93
2,24238,Ashley Johns,F,10th,Wright High School,88,88
3,24239,Stephanie Donovan,F,10th,Wright High School,75,84
4,24241,Mario Daniel,M,10th,Wright High School,85,86
...,...,...,...,...,...,...,...
38704,22827,Alison Anderson,F,9th,Bailey High School,87,68
38705,22828,Bethany Harvey,F,9th,Bailey High School,69,59
38706,22830,Nicholas Costa,M,9th,Bailey High School,81,86
38707,22837,Ryan Allen,M,9th,Bailey High School,98,63
38708,22844,Gabriel Ashley,M,9th,Bailey High School,95,88

In [5]:
#Deliverable 1: Replace the reading and math scores.
#Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [6]:
# Deliverable 2 : Repeat the school district analysis

In [7]:
# District Summary

In [8]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400
1,24237,Kimberly Hamilton,F,10th,Wright High School,84,93,10,Charter,1800,1049400
2,24238,Ashley Johns,F,10th,Wright High School,88,88,10,Charter,1800,1049400
3,24239,Stephanie Donovan,F,10th,Wright High School,75,84,10,Charter,1800,1049400
4,24241,Mario Daniel,M,10th,Wright High School,85,86,10,Charter,1800,1049400

In [9]:
# Calculate the Totals (Schools)
school_count = len(school_data_complete_df["school_name"].unique())
school_count

15

In [10]:
# Calculate the Totals (Students)
# this number is including THS 9th grade students 
total_student_count = school_data_complete_df["Student ID"].count()
total_student_count

38709

In [11]:
# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [12]:
#Let's make a clan data excluding THS_9
# To work with clean data, I will create school_data_complete_clean_df, 
# which only includes clean data excluding Thomas High School 9th grade student.

school_data_complete_clean_df = school_data_complete_df[(school_data_complete_df["school_name"] != "Thomas High School") | (school_data_complete_df["grade"] != "9th")]
school_data_complete_clean_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400
1,24237,Kimberly Hamilton,F,10th,Wright High School,84,93,10,Charter,1800,1049400
2,24238,Ashley Johns,F,10th,Wright High School,88,88,10,Charter,1800,1049400
3,24239,Stephanie Donovan,F,10th,Wright High School,75,84,10,Charter,1800,1049400
4,24241,Mario Daniel,M,10th,Wright High School,85,86,10,Charter,1800,1049400
...,...,...,...,...,...,...,...,...,...,...,...
38704,22827,Alison Anderson,F,9th,Bailey High School,87,68,7,District,4976,3124928
38705,22828,Bethany Harvey,F,9th,Bailey High School,69,59,7,District,4976,3124928
38706,22830,Nicholas Costa,M,9th,Bailey High School,81,86,7,District,4976,3124928
38707,22837,Ryan Allen,M,9th,Bailey High School,98,63,7,District,4976,3124928
38708,22844,Gabriel Ashley,M,9th,Bailey High School,95,88,7,District,4976,3124928

In [13]:
# Calculate the Average Reading Scores using the "clean_student_data".
average_reading_score = school_data_complete_clean_df["reading_score"].mean()
average_reading_score

81.85579580976001

In [14]:
# Calculate the Average Math Scores using the "clean_student_data".
# Clean Student data means excluding Thomas High 9th graders (since their score is NaN)
# find out the average score of the school "clean_student_data" 
average_math_score = school_data_complete_clean_df["math_score"].mean()
average_math_score

78.93053295099331

In [15]:
# Get the total student count
total_student_count = school_data_complete_df["Student ID"].count()
total_student_count

38709

In [16]:
# Step 2. Subtract the number of students that are in ninth grade at  
# Thomas High School (461) from the total student count (39170) to get the new total student count.
# total_student_count = total student count in the district = 38709
# THS_9_student_count = Thomas High School 9th grade students number, who has no score = 461
# student_count = student count in the distrcit who have reading and math scores

student_count = school_data_complete_df["student_name"].count()
student_count

38709

In [17]:
# Calculate the passing rates using the "clean_student_data".
# Calculate the math scores.
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

passing_math = school_data_complete_df["math_score"] >= 70
passing_math

0         True
1         True
2         True
3         True
4         True
         ...
38704    False
38705    False
38706     True
38707    False
38708     True
Name: math_score, Length: 38709, dtype: bool

In [18]:
# Calculate the passing rates using the "clean_student_data".
passing_reading = school_data_complete_df["math_score"] >= 70
passing_reading

0         True
1         True
2         True
3         True
4         True
         ...
38704    False
38705    False
38706     True
38707    False
38708     True
Name: math_score, Length: 38709, dtype: bool

In [19]:
# Calculate the passing stydent number using the "clean_student_data (38709)".
passing_math_count = school_data_complete_df[(school_data_complete_clean_df["math_score"] >= 70)].count()["student_name"]
passing_math_count

28939

In [20]:
# Calculate the passing student numbers using the "clean_student_data (38709)".
passing_reading_count = school_data_complete_df[(school_data_complete_clean_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_count

33158

In [21]:
# Step 3. Calculate the passing percentages with the new total student count (38709).

In [22]:
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

85.6596657108166

In [23]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

74.76039164018704

In [24]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Step 4.Calculate the overall passing percentage with new total student count.
# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25105

In [25]:
# Calculate the percent that passed math and reading.
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

64.85571830840374

In [26]:
# Create a DataFrame
# if we do the data format, we will not be able to calculate further. so, for now, I am commenting out the data format
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"38,709","$24,649,428.00",78.9,81.9,74.8,85.7,64.9

In [27]:
#School Summary
# will be continued with PyCitySchools_Challenge_part2.ipynb